<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flutterapp.com.example.self_management_systam">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
